<div class="widewrapper main">
  <div class="container">
    <div class="row">
        <div class="row">
              <div class="col-md-10 col-md-offset-1" id="company_logo" >
              <div style="float:left">
                <%= image_tag @user.avatar.url(:medium) %>
              </div>
              <div style="float:left; margin-left: 30px;">

                <h2>
                    <%= @user.name %>
                    <% if(logged_in? && current_user.id == @user.id)  %>
                      <a href="<%= edit_user_path %>">  - Edit </a>
                    <% end %>
                </h2>
                <br>
                <span>
                  Contact: <%= get_email(@user) %>
                </span>
                <br>
                <span>
                  Birthday: <%= get_birthday(@user) %>
                </span>
                <br>
                <span>
                  Residence: <%= get_residence(@user) %>
                </span>
                <br>
                <span>
                  Occupation: <%= get_occupation(@user) %>
                </span>
              </div>

            </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3>About</h3>
            <%= get_about(@user) %>
          </div>

        </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1"><h3>Posts</h3></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <% @posts.each do |post| %>
                  <div class="row">
                    <div class="col-md-10 col-sm-10 col-md-offset-1">
                      <article class=" blog-teaser">
                        <header>
                          <% if post.user_id != @user.id %>
                              Shared
                              <% end %>
                          <h3><a href="<%= post_path(post) %>"><%= post.title %></a></h3>
                          <% if post.ecological_issue %>
                              <p class="text-warning"><i class="fa fa-lg fa-exclamation-triangle"></i> Ecological Issue</p>
                          <% end %>
                          <span class="meta"><%= post.company_id == 0 ? post.user.name : post.company.name %> ,
                            <%= time_ago_in_words(post.created_at) + ' ago' %>
                          </span>
                          <hr>
                        </header>
                        <div class="body">
                          <%= post.teaser %>
                        </div>
                        <div class="clearfix">
                          <a href="<%= post_path(post) %>" class="btn btn-tales-one">Read more</a>
                        </div>
                      </article>
                    </div>
                  </div>
              <% end %>
            </div>

        </div>
      </div>

  </div>
</div>