<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="row">
              <div class="col-md-12" id="company_logo" >
              <div style="float:left">
                <%= image_tag @user.avatar.url(:medium) %>
              </div>
              <div style="float:left; margin-left: 30px;">
                <h2><%= @user.name %></h2>
                <span>
                  Contact: <%= get_email(@user) %>
                </span>
              </div>
            </div>
        </div>

        <div class="row horizontal-line">
          <div class="horizontal-line"></div>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><h3>About</h3></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= get_about(@user) %>
            </div>
          </div>
        </div>



        <div class="row horizontal-line">
          <div class="horizontal-line"></div>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><h3>Posts</h3></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <% @posts.each do |post| %>
                  <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-10 col-sm-10">
                      <article class=" blog-teaser">
                        <header>
                          <% if post.user_id != @user.id %>
                              Shared
                              <% end %>
                          <h3><a href="<%= post_path(post) %>"><%= post.title %></a></h3>
                          <% if post.ecological_issue %>
                              <p class="text-warning"><i class="fa fa-lg fa-exclamation-triangle"></i> Ecological Issue</p>
                          <% end %>
                          <span class="meta"><%= post.company_id == 0 ? post.user.name : post.company.name%><%= ', ' + time_ago_in_words(post.created_at) + ' ago' %></span>
                          <hr>
                        </header>
                        <div class="body">
                          <%= post.teaser %>
                        </div>
                        <div class="clearfix">
                          <a href="<%= post_path(post) %>" class="btn btn-tales-one">Read more</a>
                        </div>
                      </article>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%= render 'shared/category' %>

    </div>
  </div>
</div>