<% provide(:title, @post.title) %>

<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-12 blog-main">
        <article class="blog-post">
        <header>
            <h1><%= @post.title %></h1>
            <div class="lead-image">            
              <div class="meta clearfix">
                  <div class="author" style="float:left;">
                      <i class="fa fa-user"></i>
                      <span class="data"><%= @post.user.name %></span>
                  </div>
                  <div class="date" style="float:left; margin-left: 10px;">
                      <i class="fa fa-calendar"></i>
                      <span class="data"><%= time_ago_in_words(@post.created_at) %> ago</span>
                  </div>
                  <div class="comments" style="float:left; margin-left: 10px;">
                      <i class="fa fa-comments"></i>
                      <span class="data"><a href="blog-detail.html#comments">26 Comments</a></span>
                  </div>                                
              </div>
          </div>
          </header>

          <div class="body" style="padding: 20px 0 20px 0;">
            <%= @post.content %>
          </div>

          <button id="like" data-url="<%= like_path(@post.id) %>" class="btn btn-primary btn-lg">
              <i class="fa fa-thumbs-up"></i>
              <%= pluralize(@likes.count, 'like') %>
          </button>
          </article>
          <aside class="comments" id="comments">
            <hr>
            <h2><i class="fa fa-comments"></i> 24 Comments</h2>
            <article class="comment">
              <header class="clearfix">
                  <img src="<%= current_user.avatar.url(:medium) %>" alt="A Smart Guy" class="avatar">
                  <div class="meta">
                      <h3><a href="blog-detail.html#">Willy Wonka</a></h3>
                      <span class="date">
                          27 July 2013
                      </span>
                      <span class="separator">
                          -
                      </span>
                      
                      <a href="blog-detail.html#create-comment" class="reply-link">Reply</a>                
                  </div>
              </header>
               <div class="body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  liquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
              </div>
          </article>
        </div>
      </div>
    </div>
</div>

<script>
  $("#like").click(function(){
    var button = $(this);
    $.ajax({
      type: "POST",
      url: $(this).data("url"),
      success: function(data){
        button.html('<i class="fa fa-thumbs-up"></i> ' + data.likes);
      }
    });
  });
</script>