<% provide(:title, 'Create a new company') %>
<h1>Create a new company</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @company, url: user_companies_path(current_user), html: { multipart: true } do |f| %>
        <% if @company.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                The form contains <%= pluralize(@company.errors.count, "error") %>.
              </div>
              <ul>
                <% @company.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>

        <%= f.label :about %>
        <%= f.text_area :about, class: 'form-control' %>

        <%= f.label :company_number %>
        <%= f.text_field :company_number, class: 'form-control' %>


        <%= f.label :avatar %>
        <%= f.file_field :avatar %>

        <%= f.label :categories, "Categories" %><br>
        <%  @categories.each do |category| %>
            <%= check_box_tag 'categories[]', category.id %> <%= label_tag category.name %><br>
        <% end %>

        <%= f.submit "Create company", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>