<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4"  id="company_logo" ><img class="img-thumbnail" src="<%= get_logo(@company) %>"></div>
              <div class="col-md-6 col-sm-4 col-xs-4" id="name_div" style="margin-top:auto">
                <h2><%= @company.name %></h2>
                <span>
                  Address: <%= get_address(@company) %>
                </span>
                <br>
                <span>
                  Contact: <%= get_email(@company) %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row horizontal-line">
          <div class="horizontal-line"></div>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><h3>About</h3></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= get_about(@company) %>
            </div>
          </div>
        </div>



        <div class="row horizontal-line">
          <div class="horizontal-line"></div>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><h3>Posts</h3></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              Posts
            </div>
          </div>
        </div>
      </div>


      <aside class="col-md-4 blog-aside">

        <div class="aside-widget">
          <header>
            <h3>Categories</h3>
          </header>
          <div class="body clearfix">

            <ul class="tags">
              <%  @company.categories.each do |category| %>
                  <li><a href="#"><%= category.name %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

<script>
        $("#name_div").css('padding-top', $("#company_logo").height());
</script>