<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4"  id="company_logo" ><img class="img-thumbnail"src="<%= @company.logo %>"></div>
              <div class="col-md-6 col-sm-4 col-xs-4" id="name_div" style="margin-top:auto">
                <h2><%= @company.name %></h2>
                <span>Address:
                  <% if @company.address %>
                      <%= @company.address%>
                      <% else %>
                        n/a
                  <% end %>
                </span>
                <br>
                <span>Contact:
                  <% if @company.email %>
                      <%= @company.email%>
                      <% else %>
                      n/a
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row horizontal-line">
          <div class="horizontal-line"></div>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><h3>About</h3></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= @company.about %>
            </div>
          </div>
        </div>



        <div class="row horizontal-line">
          <div class="horizontal-line"></div>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"><h3>Posts</h3></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              Posts
            </div>
          </div>
        </div>
      </div>


      <aside class="col-md-4 blog-aside">

        <div class="aside-widget">
          <header>
            <h3>Categories</h3>
          </header>
          <div class="body clearfix">
            <ul class="tags">
              <li><a href="#">OpenPGP</a></li>
              <li><a href="#">Django</a></li>
              <li><a href="#">Bitcoin</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">GNU/Linux</a></li>
              <li><a href="#">Git</a></li>
              <li><a href="#">Homebrew</a></li>
              <li><a href="#">Debian</a></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

<script>
        $("#name_div").css('padding-top', $("#company_logo").height());
</script>