<div class="widewrapper main">
  <div class="container">
    <div class="padding-top"></div>

    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "Dashboard", admin_dashboard_path %></li>
              <li><%= link_to "Manage Companies", admin_companies_path %></li>
              <li><%= link_to "Manage Users", admin_users_path %></li>
              <li><%= link_to "Manage Categories", admin_categories_path %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="padding-top"></div>
    <div class="row">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="text-center">
              <b><%= Company.where(approved: 0 ).count%></b>
              </h3>
            </div>
            <div class="panel-body text-center">
              <small>Unapproved companies</small>
            </div>
            <div class="panel-footer">
              <small>
                <a href="<%= admin_companies_path %>">Approve now!</a>
              </small>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading text-center">
              <h3>
                <b><%= User.all.count%></b>
              </h3>
            </div>
            <div class="panel-body text-center">
              <small>Number users</small>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading text-center">
              <h3>
                <b><%= Post.all.count %></b>
              </h3>
            </div>
            <div class="panel-body text-center">
              <small>Number posts</small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>