<div class="widewrapper main">
  <div class="container">
    <div class="padding-top"></div>
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <h1>Manage Users</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile Phone</th>
              <th>Created at</th>
              <th>Companies</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.mobile_number %></td>
                  <td><%= user.created_at %></td>
                  <td><%= user.companies.length %></td>
                  <td>
                    <button name="remove-user" class="btn btn-sm btn-danger" data-url="<%= user_path(user.id) %>" data-toggle="tooltip" data-placement="top" title="Remove company">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
            <% end %>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
    $('[data-toggle="tooltip"]').tooltip();
  });


  $("button[name='remove-user']").click(function(){
    var button = $(this);
    $.ajax({
      type: "DELETE",
      url: $(this).data("url"),
      success: function(data){
        if(data.success) {
          var _parent = button.closest('tr');
          _parent.remove();
        }
        alert(data.msg);

      }
    });
  });

</script>