<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">

        <% @posts.each do |post| %>

            <div class="row">
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-10 col-sm-10">
                <article class=" blog-teaser">
                  <header>
                    <h3><a href="<%= post_path(post) %>"><%= post.title %></a></h3>
                    <% if post.ecological_issue %>
                      <p class="text-warning"><i class="fa fa-lg fa-exclamation-triangle"></i> Ecological Issue</p>
                    <% end %>
                    <span class="meta">
                    <% if post.company_id == 0 %>
                    <%= post.user.name %>
                        <% else %>
                     <%=  post.company.name%>
                          <% if post.company.approved %>
                              <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"> </span>
                          <% end %>
                        <% end %>
                      <br>
                    <%=time_ago_in_words(post.created_at) + ' ago' %>
                   </span><hr>

                  </header>
                  <div class="body">
                    <%= post.teaser %>
                  </div>
                  <div class="clearfix">
                    <a href="<%= post_path(post) %>" class="btn btn-tales-one">Read more</a>
                  </div>
                </article>
              </div>
              <div class="col-md-1 col-sm-1"></div>
            </div>

        <% end %>
    </div>

      <%= render 'shared/category' %>

  </div>
</div>
</div>